#program3{
	min-height: 800px;
	width: 100%;
}

#program3 p{
	text-align: center;
	font-size: 50px;
	color: #0C3670;
	text-decoration: underline;
}

#program3 .items{

	height: 150px;
	width: 80%;
	margin-left: 10%;
	box-shadow: 0 1px;
}

.programLogo{

	float: left;
	height: 150px;
	width: 300px;
}

.programLogo img{
	height: 100%;
	width: 100%;
}

.pg3content{
	height: 300px;
	width: 100%;
}

#pg3left{
	float: left;
	margin-left: 200px;
	margin-top: 50px;
	height: 400px;
	width: 600px;
}

#pg3left img{
	height: 100%;
	width: 100%;
}

#pg3lefttext{
	z-index: 9999;
	background-color: #E3FEFF;
	text-decoration: none;
	font-size: 25px;
	height: 100px;
	width: 300px;
	margin-left: 150px;
	position: absolute;
	margin-top: 350px;

}

#pg3right{
	float: right;
	margin-right: 100px;
	margin-top: 50px;

}

.pg3rightpiece{
	margin-right: 20px;
	float: left;
	height: 200px;
	width: 300px;
	font-size: 20px;
}

.pg3rightpiece img{
	height: 100%;
	width: 100%;
}